.sourceviewer {
  display: none;
  background-color: #EEE;
  width: 100%;
  padding: 1em;
  overflow: auto;
  font-size: .85em;
}
.viewbtn {
  font-size: .85em;
  color: white;
  background-color: #111;
  margin-top: 10px;
  outline: none;
  border: none;
  padding: .4em .8em;
}
.showing {
  background-color: #222;
  color: white;
}
